<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon App</title>
</head>
<body>
   <% if(user){%>
        <h1> Welcom! to the salon app<%=user.username%></h1>
<form action="/auth/sign-out?_method=DELETE" method="POST">
    <button type="submit">Sign Out</button>
</form>
<a href="/dashboard">View dashboard</a>
   <%} else{%>
        <a href="auth/sign-in.ejs">sign-in</a>
        <a href="auth/sign-up.ejs">sign-up</a>
    <%}%>

</body>
</html>