<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salon App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>My Bookings</h1>
    <a href="/bookings/new">Create New Booking</a>

    <% if (allBookings.length === 0) { %>
        <p>No booking found</p>
    <% } else { %>
        <ul>
            <% allBookings.forEach((item) => { %>
                <li>
                    Services <%= item.services %><br/>

                    <a href="/bookings/<%= item._id %>">View Details</a>

                </li>
                <br/>
            <% }) %>
        </ul>
    <% } %>

    <a href="/">Home</a>
</body>
</html>