<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
</head>
<body>
    <form action="/" method="POST" enctype="multipart/form-data">
        <section class="first-servicr">
            Hair Cut
            <input type="checkbox" name="HairCut"/>
        </section>

        <section class="secound-servicr">
            Manicure
            <input type="checkbox" name="Manicure"/>
        </section>

        <section class="theerd-service">
            Makeup
            <input type="checkbox" name="Makeup"/>
        </section>

        <section class="foruth-service">
            hair styling
            <input type="checkbox" name="hairstyling"/>
        </section>
        <button type="submit">Enter</button>

    </form>
</body>
</html>