<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book service</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1 class="h1-select">Select Services</h1>
<div class="auth-card">
  <form action="/bookings/new" method="GET">



<div class="service-card">

<div class="service-info">
      <label for="haircut">Hair Cut</label>
      <input type="checkbox" name="services" value="Hair Cut" /> 
       <a href="/services/haircut">View Details</a>
</div>
<br/>
<div class="service-info">
   <label for="makeup">Makeup</label>
    <input type="checkbox" name="services" value="Makeup" /> 
      <a href="/services/makeup">View Details</a>
</div>
<br/>

<div class="service-info">
       <label for="hairstyle">Hair Style</label>
        <input type="checkbox" name="services" value="Hair Style" /> 
     <a href="/services/hairstyling">View Details</a>
</div>
<br/>

<div class="service-info">
             <label for="manicure">Manicure</label>
            
            <input type="checkbox" name="services" value="Manicure" /> 

             <a href="/services/manicure">View Details</a>
</div>

</div>
    <br/>
    <br/>
    <button type="submit">Continue to Booking Details</button>
  </form>

  <% if (selectedService) { %>
    <hr/>
    <div class="service-details">
        <h2><%= selectedService.title %> Details</h2>
        <p>Description:<%= selectedService.description %></p>
        <p>Price: <%= selectedService.price %></p>
        <p>Duration: <%= selectedService.duration %></p>
    </div>
    </div>
<% } %>

</body>
</html>