<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book service</title>
</head>
<body>
<h1>Select Services</h1>

  <form action="/bookings/new" method="GET">

      Hair Cut
    <input type="checkbox" name="services" value="Hair Cut" /> 
     
       <a href="/services/haircut">View Details</a>
<br/>

   Makeup
    <input type="checkbox" name="services" value="Makeup" /> 
    
      <a href="/services/makeup">View Details</a>
<br/>
        Hair Style
        <input type="checkbox" name="services" value="Hair Style" /> 
   
     <a href="/services/hairstyling">View Details</a>
<br/>
             Manicure
            <input type="checkbox" name="services" value="Manicure" /> 
   
         <a href="/services/manicure">View Details</a>

    <br/>
    <br/>
    <button type="submit">Continue to Booking Details</button>
  </form>

  <% if (selectedService) { %>
    <hr/>
    <div class="service-details">
        <h2><%= selectedService.title %> Details</h2>
        <p>Description:<%= selectedService.description %></p>
        <p>Price: <%= selectedService.price %></p>
        <p>Duration: <%= selectedService.duration %></p>
    </div>
<% } %>

</body>
</html>