<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submit-booking</title>
</head>
<body>
  <h1> Booking a Salon Appointment</h1>
  <form action="/bookings" method="POST">
    <h3>Select Services : </h3>
    home:
    <input type="text" name="home" placeholder="home number"/>
    <br/>

    road:
    <input type="text" name="road" placeholder="road"/>
    <br/>

    date
    <input type="text" name="date" placeholder="date"/>
<br/>
    time 
    <input type="text" name="time" placeholder="add the time"/>
<br/>
    recommendation
    <textarea name="recommendation" placeholder="special recommendation"></textarea>
<br/>
<button type="submit">Applay</button>

  </form>  

  <form action="">
    <a href="/bookings">Back to All Bookings</a>
  </form>
</body>
</html>