<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submit-booking</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="auth-card">
<h1>Booking Details</h1>

  <form action="/bookings" method="POST">

      <% let servicesArray = [services] %>
      <% servicesArray.forEach(service => { %>
        <input type="hidden" name="services" value="<%= service %>">
        <% }) %>

<div class="form-section">
         <h3>1. Location Details:</h3>




       <div class="input-group">
         <label>Home Number: <input type="text" name="home" required /></label>
       </div>


<div class="input-group">
      <label>Road Number: <input type="text" name="road" required /></label>
       </div>
        
       <div class="input-group">
      <label>Street: <input type="text" name="street" required /></label>
        </div>
</div>


<div class="form-section">

    <h3>2. Date & Time:</h3>


    <div class="date-time-row">
      <label>Date: <input type="date" name="date" required /></label>
    </div>
    <div class="date-time-row">
      <label>Time: <input type="time" name="time" required /></label>
    </div>
</div>

    <br>
    <button type="submit">Submit Booking</button>
  </form>
  </div>
  
</body>
</html>